.header-mid {
  display: flex;
  align-items: center;
  min-width: 20rem;
  max-width: 40rem;
  margin: auto 0 !important;
  border-radius: 20px;
  background-color: whitesmoke;
}
.focus {
  background-color: white;
  box-shadow: 2px 2px 4px #0000007e;

}

.header-mid input {
  border: none;
  background: transparent;
  flex: 1;
}

.header-mid input:focus {
  outline: none;
  border: none;
}
